@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


/* Variables */

:root {
    --primary-color: #2980B9;
    --secondary-color: #234466;
    --accent-color: #2ECC70;
    --background-color: #1D2B3A;
    --card-color: #293644;
    --text-color: #F4F4F4;
    --max-width: 1440px;
}


/* General Type Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: var(--text-color, #F4F4F4);
    text-decoration: underline;
}

h1 {
    color: var(--text, #F4F4F4);
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

h2 {
    color: var(--text-color, #F4F4F4);
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin: 0px 20px;
}

h3 {
    color: var(--text-color, #F4F4F4);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: var(--text-color, #F4F4F4);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: var(--text-color, #F4F4F4);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 162.5%;
    margin: 16px 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color, #F4F4F4);
}

html {
    scroll-behavior: smooth;
}



/* General Styles */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.accent-color {
    color: var(--accent-color);
}

.ghost-button {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: transparent;
    color: var(--text-color);
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    padding: 4px 20px;
    margin: 10px 0px;
    transition: transform ease 0.2s;
}

.ghost-button:hover {
    transform: translate(0, -3px);
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    padding: 5px;
    transition: transform ease 0.2s;
}

.icon-button:hover {
    transform: translate(0, -3px);
}

.outline-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    padding: 10px 30px;
    margin: 0;
}

.outline-box p {
    margin: 0;
}


/* General Section Styles */

.fill-screen {
    height: 100vh;
    width: var(--max-width);
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 20px;
}

.header h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin-right: auto;

}

.header a {
    text-decoration: none;
    transition: transform ease 0.2s;
}

.header a:hover {
    transform: translate(0, -3px);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 50px;
    white-space: nowrap;
    margin: auto 0;
}

.section {
    max-width: var(--max-width);
    margin: 200px auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: var(--card-color);
    border-radius: 30px;
    padding: 20px;
}

.card-image {
    display: inline-block;
    position: relative;
    margin: 40px 20px 60px 40px;
}

.card-image::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
    z-index: 1;
    transform: translate(-20px, 20px);
}

.card-image img {
    display: block;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.card-text h3 {
    margin: 0;
}

.tag-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px 0px;
}

.tag {
    background-color: var(--secondary-color);
    font-size: 12px;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 0;
}

.footer {
    text-align: center;
    margin-top: 100px;
}

.footer p {
    opacity: 0.5;
    font-family: monospace;
}



/* Specific Styles */

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    max-width: 100%;
    margin: 0px auto;
    gap: 1%;
    z-index: 1;
}

.hero-text {
    margin: auto 0;
    padding-bottom: 50px; /* Feels more centered */
}

.hero-text h1 {
    margin: 16px 0px;
}

.hero-text p {
    font-size: 24px;
    font-weight: 400;
}

.hero-image {
    max-width: 40%;
    margin: auto 0;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.gradient-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(141deg, var(--primary-color) 0%, var(--accent-color) 100%);
    border-radius: 30px;
}

.expand-arrow {
    color: var(--text-color);
    text-decoration: none;
    padding: 20px;
    margin: 0px auto;
    transition: transform ease 0.2s;
}

.expand-arrow:hover {
    transform: translate(0, -3px);
}

.bg-line-stripe {
    position: absolute;
    z-index: -1;
}

.bg-line {
    height: 40px;
    width: 200px;
    rotate: 30deg;
    border-radius: 20px;
    background: linear-gradient(90deg, #2980B9 0%, #2ECC70 100%);
    margin: 20px;
}