:root {
    --md-color-code: #1e242a;
    --md-color-link: #4493f8;
    --md-font-size-base: 1.1rem;
    --md-font-size-medium: 1.25rem;
    --md-font-size-large: 2.25rem;
    --md-font-line-height: 1.7;
}

.markdown {
    color: var(--color-text);
    font-family: var(--font-family-sans-serif);
    line-height: var(--md-font-line-height);
    margin: 2rem 0;
}

.markdown :is(h2) {
    font-size: var(--md-font-size-large);
    margin-top: 1.5rem;
}

.markdown :is(p) {
    font-size: var(--md-font-size-base);
    margin: 0.5rem 0;
}

.markdown :is(ul) {
    margin: 0.5rem 0;
}

.markdown :is(li) {
    font-size: var(--md-font-size-base);
    margin-top: 6px;
}

.markdown :is(code) {
    background-color: var(--md-color-code);
    border-radius: 0.25rem;
    padding: 0.2rem 0.4rem;
}

.markdown :is(a) {
    color: var(--md-color-link);
    font-size: var(--md-font-size-base);
    text-decoration: none;
    text-transform: none;
}

.markdown :is(a:hover) {
    text-decoration: underline;
}