:root {
    --primary-color: #2980B9;
    --secondary-color: #234466;
    --accent-color: #2ECC70;
    --background-color: #0a0a0a;
    --card-color: #293644;
    --text-color: #F4F4F4;
    --max-width: 1160px;
    --inactive-color: #7f8c8d;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    text-transform: capitalize;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fullpage-container {
    width: 80vw !important;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin: 0 auto;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent {
    color: var(--accent-color);
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    transition: transform ease 0.2s;
}

.icon-button:hover {
    transform: translateY(-4px);
}